<%- include('_header')%>
<link rel="stylesheet" href="../assets/css/indexStyle.css">
<link rel="stylesheet" href="../assets/css/indexStyle.scss">
<center><h1>Welcome To Jupitor Apeerals</h1></center>
<div class="slideshow">
  <div class="slideshow-image" style="background-image: url('https://unsplash.it/1600/1400?image=492')"></div>
  <div class="slideshow-image" style="background-image: url('https://unsplash.it/1600/1400?image=487')"></div>
  <div class="slideshow-image" style="background-image: url('https://unsplash.it/1600/1400?image=483')"></div>
  <div class="slideshow-image" style="background-image: url('https://unsplash.it/1600/1400?image=478')"></div>
</div>
<%- include('_footer')%>






