<%- include('_header',{title:"PIM Data"}) %>

 
      <%- include('_sidebar',{title:"PIM Data"}) %>


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-12">
                <!-- <h1>Icons</h1> -->

                <div class="card card-primary">  
                  <form  id="search_employeeBYid" action="/manager/viewData" method="POST">
                    <div class="card-body">  
                        <div id="err_msg4">
                        <!-- for error msg -->
                        </div>
                      <div class="form-group">
                        <label>Enter Employee ID</label>
                        <input type="number" class="form-control" id="e_id" name="e_id" placeholder="Enter Employee ID" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Search</button>
                  </form>
                </div>
      
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
           
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
    <%- include('_footer') %>
    </html>